* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  flex-basis: calc((100% - 80px) / 3);

  .second-img {
    position: absolute;
    z-index: -1;
    inset: 0;
  }

  &:hover {
    z-index: 0;
  }
}
